* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Komet", sans-serif;
    /*border: 2px solid red;*/
}

/*Header & Footer*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    position: relative;
    background-color: rgb(196, 250, 196);
}

.headerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar div ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar div a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100vw;
    background-color: rgb(196, 250, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.footerContainer ul li a {
    font-weight: 700;
}

#Logo {
    height: 70px;
    transition: transform 0.3s;
}

#Logo:hover {
    transform: scale(1.2);
}

/*Landing*/

.welcome {
    display: flex;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images/salmonBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 15%;
    gap: 30px;
    align-items: center;
    text-align: left;
}

.welcomebuttons {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.welcomebuttons h1 {
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px 2px black;
}

.welcome img {
    max-height: 500px;
}

.salmonCollage {
    position: relative;
    width: 50%;
    height: 800px;
}

.salmonCollage img {
    position: absolute;
    height: auto;
    transition: transform 0.3s
}

.collageImg1 {
    top: 0;
    left: 5%;
    z-index: 3;
    max-width: 60%;
}

.collageImg2 {
    top: 10%;
    left: 30%;
    z-index: 1;
    width: 70%;
    transform: rotate(15deg);
}

.collageImg3 {
    top: 50%;
    left: 15%;
    z-index: 2;
    width: 50%;
    transform: rotate(-10deg);
}

/*Animaciones para welcome*/
.collageImg1:hover {
    transform: scale(1.2) rotate(-10deg);
}

.collageImg2:hover {
    transform: scale(1.2) rotate(25deg);
}

.collageImg3:hover {
    transform: scale(1.2) rotate(15deg);
}

/*Products Grid (will replace images eventually) - Idealmente se haria un carrusel para mobil, pero no me ha alcanzado el tiempo
de aprender o de hacer la grid responsiva en movil :( */

.catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 250, 196, .5);
    padding: 100px 0px;
    gap: 50px;
    text-align: center;
}

.catalogue a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* border: 2px solid red;/* /*turn off for debug*/
    align-items: center;
    justify-items: center;
    max-width: 1100px;
    margin: 20px auto;
    gap: 1rem;
}

.containerTitle {
    grid-column: 1 / -1;
    text-align: center;
    padding: 0px 10px;
    font-weight: 700;
    font-size: 4rem;
    margin: 0px 200px 100px 200px;
}

.containerTitle {
    font-size: 86px;
}

.containerImage {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red;*/
    /*turn off for debug*/
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    min-height: 400px;
    width: 100%;
    max-height: 40vh;
}

.hoverImgContainer {
    display: flex;
    position: relative;
    aspect-ratio: 3 / 4;
    width: 100%;
    max-width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hoverImgContainer img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 20px;
    transition: opacity 0.5s ease;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.productTitle {
    width: 90%;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    padding: 10px 0;
}

.hoverImgContainer img.hoverImage {
    opacity: 0;
}

.hoverImgContainer:hover img.hoverImage {
    opacity: 1;
}

.hoverImgContainer:hover img.defaultImage {
    opacity: 0;
}

/*FAQ Landing*/

.FAQ {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin: 200px 15%;
    gap: 100px;
}

.questions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: fit-content;
}

.questionContainer {
    display: flex;
    min-height: 20rem;
    flex-direction: column;
    justify-content: start;
    padding: 25px 30px;
    border-radius: 30px;
    gap: 30px;
    background-color: rgb(196, 250, 196);
    overflow: hidden;
}

#question {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

#answer {
    text-align: left;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0, .90);
}

/*Collections / Products Page*/


.featured {
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images/salmonBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    height: 90vh;
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.featured h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-size: 6rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.collageImages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.featured .collageImg1 {
    z-index: 2;
}

.featured .collageImg2 {
    z-index: 1;
}

.featured .collageImg3 {
    z-index: 3;
}

/*Animation on load*/

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.featured .collageImg1,
.featured .collageImg2,
.featured .collageImg3 {
    position: static;
    max-width: 400px;
    animation: slideUpFade 1s ease-out forwards;
    opacity: 0;
}

.featured .collageImg1 {
    transform: rotate(-10deg);
    animation-delay: 0.2s;
    z-index: 1;
}

.featured .collageImg2 {
    transform: rotate(0deg) scale(1.1);
    animation-delay: 0.4s;
    z-index: 2;
}

.featured .collageImg3 {
    transform: rotate(10deg);
    z-index: 1;
}

/*Products Grid*/

.collections .container .containerImage {
    background-color: rgb(196, 250, 196);
    border-radius: 20px;
}

.collections .container {
    padding: 100px 0px 0px 0px;
}

/*Privacy Policy & FAQ Page*/

.textContainer {
    display: flex;
    flex-direction: column;
    padding: 80px 30%;
    gap: 4vh;
}

.bullet {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bullet h1 {
    font-size: 36px;
}

.bullet p {
    max-width: 90%;
    font-size: 20px;
}

#title {
    font-size: 48px;
}

.textContainer #cuestionnaire {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: rgb(196, 250, 196);
    padding: 30px;
    border-radius: 20px;
}

#cuestionnaire h1{
    font-size: 36px;
}

#cuestionnaire input {
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: 100%;
    height: 20vh;
    text-align: start;
}

#cuestionnaire button{
    padding: 2% 0%;
    width: 30%;
    font-size: 1rem;
    height: fit-content;
}

/*About Us*/

.aboutMe{
    display: flex;
    padding: 100px 20%;
    align-items: center;
}

.aboutMe .textContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 3vw;
    gap: 2vh;
}

.aboutMe .textContainer h1{
    font-size: 8rem;
}
.aboutMe .textContainer h2{
    font-size: 4rem;
}


.aboutMe img{
    width: 40%;
    height: auto;
    border-radius: 20px;
    aspect-ratio: 1/1;
}

/*Common stuff*/

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

a {
    transition: 0.3s;
}

a:hover {
    opacity: .7;
}

button {
    width: fit-content;
    font-size: 20px;
    color: white;
    padding: 20px;
    background-color: black;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

@media (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {

    body{
        max-width: 600px;
    }
    .welcome{
        padding: 20px 5%;
        gap: 10px; 
    }

    .salmonCollage {
        position: relative;
        top: 50%;
        left: 0;
        right: 0;
        height: 250px;
        z-index: 0;
      }
    
      .welcomebuttons {
        position: relative;
        z-index: 1;
        padding-top: 50px;
      }
    
      .collageImg1 {
        top: 0;
        left: 0;
      }
      .collageImg2 {
        top: 100px;
        left: 50px;
      }
      .collageImg3 {
        top: 50px;
        left: 85px;
        transform: rotate(15deg) scale(1.2);
      }

      .collageImg1,
      .collageImg2,
      .collageImg3 {
        max-width: 150px;
      }

    .catalogue{
        padding: 10px 0px;
        gap: 25px;
        max-width: 600px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 30px;
        background-color: rgb(196, 250, 196);
        width: 100%;
    }
    
    .navbar div ul {
        display: flex;
        gap: 20px;
        font-size: 12px;
    }
    
    .navbar img {
        display: none;
    }

    .FAQ{
        max-width: 90%;
        margin: 50px;
        gap: 15px;
    }
    
    h1 {
        font-size: 28px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .productTitle {
        font-size: 0.9rem;
    }

    .containerTitle {
        font-size: 2.5rem;
        margin: 0 20px 60px;
    }

    .questions {
        grid-template-columns: repeat(1, 1fr);
    }

    .questionContainer {
        min-height: 8rem;
        max-height: 10rem;
        padding: 30px;
        gap: 20px;
    }

    #question {
        font-size: 1.3rem;
    }

    #answer {
        font-size: 1rem;
    }

    button {
        width: fit-content;
        font-size: 16px;
    }


    /*Collections Page*/
    .collageImages {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    .featured .collageImg1,
    .featured .collageImg2,
    .featured .collageImg3 {
        position: absolute;
        max-width: 60vw;
        opacity: 1;
        animation: none;
    }

    .featured .collageImg1 {
        transform: translate(-50%, -50%) rotate(-8deg);
        top: 50%;
        left: 25%;
        z-index: 1;
    }

    .featured .collageImg2 {
        transform: translate(-50%, -50%) rotate(0deg);
        top: 50%;
        left: 50%;
        z-index: 2;
    }

    .featured .collageImg3 {
        transform: translate(-50%, -50%) rotate(8deg);
        top: 50%;
        left: 75%;
        z-index: 1;
    }

    .featured h1 {
        font-size: 3rem;
    }

    .collections .container {
        padding: 10px 0px 0px 0px;
        gap: 5vw;
    }

    .collections .container .containerImage {
        max-height: 8vw;
    }

    /*Privacy Policy Page & FAQ*/
    .textContainer {
        display: flex;
        flex-direction: column;
        padding: 80px 10%;
        gap: 4vh;
    }

    #title {
        font-size: 28px;
    }

    .bullet h1 {
        font-size: 20px;
        text-align: left;
    }

    .bullet p {
        font-size: 16px;
    }
}